In [6]:
import requests
import pandas as pd
import numpy as np

In [ ]:
cities_lat_lon = ((52.520008, 13.404954), (47.259659, 11.400375), (51.515419, -0.141099))
radius = 100
activities = [
    'fitness'
    , 'running'
    #, 'yoga'
    , 'cycling'
    , 'soccer'
    , 'laufen'
    , 'fussball'
    , 'hockey'
    , 'radfahren'
    , 'wandern'
    , 'ski'
    #, 'hiking'
]

In [ ]:
events = []
for lat, lon in cities_lat_lon:
    for activity in activities:
        events_url = f"https://event-collector-api.herokuapp.com/meetupql?activity={activity}&lat={lat}&lon={lon}&radius={radius}"
        print(events_url)
        response = requests.get(events_url).json()
        
        if response:
            for event in response['Data']:
                if event['venue'] == None:
                    event_lat = lat
                    event_lng = lon
                else:
                    event_lat = event['venue']['lat']
                    event_lng = event['venue']['lng']

                events.append([event['title'], event['description'], event_lat, event_lng])

In [ ]:
pd.DataFrame(events, columns=['title', 'description', 'lat', 'lng']).to_csv('events')

In [ ]:
events_url = "https://event-collector-api.herokuapp.com/meetupql?activity=fitness&lat=52.520008&lon=13.404954&radius=100"

In [ ]:
response = requests.get(events_url).json()

In [ ]:
events = []

for event in response['Data']:
    if event['venue'] == None:
        event_lat = 52.520008
        event_lng = 13.404954
    else:
        event_lat = event['venue']['lat']
        event_lng = event['venue']['lng']

    events.append([event['title'], event['description'], event_lat, event_lng])    

pd.DataFrame(events, columns=['title', 'description', 'lat', 'lng'])

In [1]:
from SportsExperiencePlatform.data import get_data, connect_db

In [2]:
conn = connect_db()
users_df, events_df = get_data(conn)

/home/daniel/.pyenv/versions/3.8.12/envs/SportsExperiencePlatform/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/home/daniel/.pyenv/versions/3.8.12/envs/SportsExperiencePlatform/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [3]:
users_df.shape

(9, 13)

In [4]:
events_df.shape

(155, 17)

In [7]:
df = pd.read_csv('events.csv')

In [8]:
df.description

0       Diese Gruppe ist für alle gedacht, die gerne d...
1       Diese Gruppe ist für alle gedacht, die gerne d...
2       Diese Gruppe ist für alle gedacht, die gerne d...
3       Diese Gruppe ist für alle gedacht, die gerne d...
4       Diese Gruppe ist für alle gedacht, die gerne d...
                              ...
1184    Join us for a chance to socialise and (optiona...
1185    Join us for a chance to socialise and (optiona...
1186    Join us for a chance to socialise and (optiona...
1187    Hello, hello all! It is time to get all excite...
1188    Lyngen Alps Crossing - from fjord to mountain\...
Name: description, Length: 1189, dtype: object