In [ ]:
#!pip install nltk

In [82]:
import numpy as np
import pandas as pd
from SportsExperiencePlatform.data import connect_db, get_data
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import string
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from scipy.sparse import save_npz, load_npz

In [22]:
#nltk.download('stopwords')
#nltk.download('punkt')
#nltk.download('wordnet')
#nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /home/daniel/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [ ]:
conn = connect_db()

if conn:
    users_df, events_df = get_data(conn)

In [4]:
users_df.shape, events_df.shape

((9, 13), (155, 17))

In [6]:
events_df.sample(10)

      id  ...                                 external_image_url
65   171  ...  https://secure-content.meetupstatic.com/images...
64   154  ...  https://secure-content.meetupstatic.com/images...
125  216  ...  https://secure-content.meetupstatic.com/images...
30   121  ...  https://secure-content.meetupstatic.com/images...
41   131  ...  https://secure-content.meetupstatic.com/images...
20   110  ...  https://secure-content.meetupstatic.com/images...
19   109  ...  https://secure-content.meetupstatic.com/images...
116  205  ...  https://secure-content.meetupstatic.com/images...
66   155  ...  https://secure-content.meetupstatic.com/images...
105  195  ...  https://secure-content.meetupstatic.com/images...

[10 rows x 17 columns]

In [11]:
def remove_punctuation(text):
    for s in text:
        if s in string.punctuation:
            text = text.replace(s, '')

    return text

In [15]:
def lower_text(text):
    return text.lower()

In [17]:
def remove_numbers(text):
    return ''.join(word for word in text  if not word.isdigit())

In [20]:
def remove_stop_words(text, language='english'):
    stop_words = set(stopwords.words(language))
    word_tokens = word_tokenize(text)
    
    return ' '.join([w for w in word_tokens if not w in stop_words])

In [24]:
def lemmatize_text(text):
    lemmatizer = WordNetLemmatizer()

    return ' '.join([lemmatizer.lemmatize(word) for word in text.split(' ')])

In [14]:
events_df['description_punct'] = events_df.description.apply(remove_punctuation)
events_df[['description', 'description_punct']].head()

                                         description                                  description_punct
0  Plutarch | Pleasure in the job puts perfection...  Plutarch  Pleasure in the job puts perfection ...
1  Pythagoras | It's not what happens to you, but...  Pythagoras  Its not what happens to you but ho...
2  Pythagoras | Rhetoric is the art of ruling the...  Pythagoras  Rhetoric is the art of ruling the ...
3  Posidonius | The virtue of justice consists in...  Posidonius  The virtue of justice consists in ...
4           Parmenides | Only the educated are free.             Parmenides  Only the educated are free

In [16]:
events_df['description_lower'] = events_df.description_punct.apply(lower_text)
events_df[['description', 'description_lower']].head()

                                         description                                  description_lower
0  Plutarch | Pleasure in the job puts perfection...  plutarch  pleasure in the job puts perfection ...
1  Pythagoras | It's not what happens to you, but...  pythagoras  its not what happens to you but ho...
2  Pythagoras | Rhetoric is the art of ruling the...  pythagoras  rhetoric is the art of ruling the ...
3  Posidonius | The virtue of justice consists in...  posidonius  the virtue of justice consists in ...
4           Parmenides | Only the educated are free.             parmenides  only the educated are free

In [18]:
events_df['description_numbers'] = events_df.description_lower.apply(remove_numbers)
events_df[['description', 'description_numbers']].head()

                                         description                                description_numbers
0  Plutarch | Pleasure in the job puts perfection...  plutarch  pleasure in the job puts perfection ...
1  Pythagoras | It's not what happens to you, but...  pythagoras  its not what happens to you but ho...
2  Pythagoras | Rhetoric is the art of ruling the...  pythagoras  rhetoric is the art of ruling the ...
3  Posidonius | The virtue of justice consists in...  posidonius  the virtue of justice consists in ...
4           Parmenides | Only the educated are free.             parmenides  only the educated are free

In [21]:
events_df['description_stopwords'] = events_df.description_numbers.apply(remove_stop_words, language='english')
events_df[['description', 'description_stopwords']].head()

                                         description                              description_stopwords
0  Plutarch | Pleasure in the job puts perfection...         plutarch pleasure job puts perfection work
1  Pythagoras | It's not what happens to you, but...                   pythagoras happens react matters
2  Pythagoras | Rhetoric is the art of ruling the...           pythagoras rhetoric art ruling minds men
3  Posidonius | The virtue of justice consists in...  posidonius virtue justice consists moderation ...
4           Parmenides | Only the educated are free.                           parmenides educated free

In [25]:
events_df['description_lemmatize'] = events_df.description_stopwords.apply(lemmatize_text)
events_df[['description', 'description_lemmatize']].head()

                                         description                              description_lemmatize
0  Plutarch | Pleasure in the job puts perfection...          plutarch pleasure job put perfection work
1  Pythagoras | It's not what happens to you, but...                    pythagoras happens react matter
2  Pythagoras | Rhetoric is the art of ruling the...            pythagoras rhetoric art ruling mind men
3  Posidonius | The virtue of justice consists in...  posidonius virtue justice consists moderation ...
4           Parmenides | Only the educated are free.                           parmenides educated free

In [27]:
events_df[['description_lemmatize']].to_csv("test.csv")

In [28]:
tfidf = TfidfVectorizer(stop_words="english")

In [29]:
tfidf_matrix = tfidf.fit_transform(events_df["description_lemmatize"])
tfidf_matrix.shape

(155, 1690)

In [30]:
cosine_sim = tfidf_matrix.dot(tfidf_matrix.T)

In [91]:
cosine_sim

<155x155 sparse matrix of type '<class 'numpy.float64'>'
	with 11741 stored elements in Compressed Sparse Row format>

In [81]:
save_npz("model_cosine_sim", cosine_sim)

In [83]:
matrix_reloaded = load_npz("model_cosine_sim.npz")

In [84]:
matrix_reloaded.shape, cosine_sim.shape

((155, 155), (155, 155))

In [42]:
events_df[['description']].duplicated().sum()

79

In [43]:
title_to_index = pd.Series(events_df.index, index = events_df["title"]).drop_duplicates()

In [45]:
def content_recommender(title, cosine_sim = cosine_sim, df = events_df, title_to_index = title_to_index):
    idx = title_to_index[title]
    
    sim_scores = list(enumerate(cosine_sim[idx].todense().tolist()[0]))
    # list of set [(index, sim score), (index, sim score), ...]
    
    sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse = True)
    # Sort the list of set by sim score, index with highest simlirarity
    # Will be at the beginning of the list
    
    sim_scores = sim_scores[1:11] # top 10 events (first one is our input events so we ignore it)
    
    sport_indices = [i[0] for i in sim_scores] # we grab the indices of those 10 events
    
    return df["title"].iloc[sport_indices]

In [88]:
events_df.title.unique()

array(['MLG Meadowlands', 'League All Stars', 'Serie A', 'ESL Cologne',
       'GFinity London', 'DFB Pokal', 'Super League', 'Worlds', 'Ligue 1',
       'Copa del Rey', 'Baseball @ Tempelhof',
       'Full court indoor Saturday Basketball in the centre of Rotterdam',
       "Casual Pick-up Women's Basketball",
       'Monday evening Basketball at Bergstr in Berlin Mitte 10115',
       'Basketball Sunday', 'Friday night basketball @ de Pijp',
       'Half-court Pick-up Basketball',
       'Sunday Basketball (INDOOR DOELENPLEIN) 🏀',
       'SPORTEGRATION Basketball', 'Basketball (outdoor)',
       'Monday Night Basketball at Hubelmatt',
       'Bouldering at Boulderwelt Frankfurt',
       'Bouldering at Boulderhaus DA',
       'Bouldering at StudioBloc Darmstadt',
       'Wednesday Evening Bouldering @BRIGHT SITE',
       'Soccer (Wollishofen or Allmand)',
       'Saturday Afternoon Bouldering @BRIGHT SITE',
       'Bouldering at Urban Apes St. Pauli (3G)',
       'Outside Bouldering in výstaviště',
       'Climbing/Bouldering in Smichov', 'Monday climbs',
       'Saturday afternoon Climbing at Magic Mountain',
       'CANCELLED INDEFINITELY Bouldern und Leute kennenlernen/Boulder and socialise',
       'Randa Boulder bouldering ', 'Tuesday Bouldering at Kunststof',
       'Südsee-Camp Wietzendorf/Lüneburger Heide',
       'TRADITIONAL kayaking in Utrecht town and Amelisweerd (more nature part)',
       'Hike (17km) in Mertert/Wasserbillig', 'Kayaking around Utrecht',
       'Canoeing on Ilmenau River',
       'Hike in National Park the Loonse en Drunense Dunes ánd Picnic!',
       'LUXEMBOURG: camping weekend together : Pentecost 2022',
       'Hiking in Germany : Monschau ',
       'BISC goes to Offshore Film Festival! ',
       'Berlin Friday Football //// Friday 15:00 //// Poststadion upstairs',
       '2022 UEFA Champions League Final Home Viewing',
       'Real Madrid v Liverpool (Champions League Final) at The Fleetenkieker Irish Pub',
       'Eimsbüttel Sunday, Gärtnerstr. 65, 8 aside astro turf',
       'Sunday 8-a-side (Eimsbüttel) ',
       'Wednesday Mixed Soccer @ Ostpark - 18:30',
       'Sunday Football - CHANGE OF DATE',
       'FC Urban Game at gymzaal Tuinstraat',
       'FC Urban Game at gymzaal Klipperstraat', 'Weekend football',
       'Terrible Thursday Football in Amsterdam',
       'Surf & Salsa on the beach', 'Surf & BBQ Jam',
       'Surf & Yoga Retreat Scheveningen',
       'Surf & Salsa dancing on the beach :)', 'Tennis Personal Coaching',
       'Surf & BBQ & Jam Session',
       'Surf & Yoga Retreat Texel- learn to surf on Texel',
       'Surf & Yoga Retreat Texel',
       'Surfcamp Scheveningen. Get the ride of your life and learn to surf!',
       'Surfcamp Scheveningen - learn/ improve your surf in 1 day! ',
       'Surfcamp Scheveningen: learn to surf and get the ride of your ife!',
       'Surfcamp Scheveningen. Learn to surf and get the ride of your life!',
       'Surf & Yoga Retreat Texel- weekend getaway',
       'Swim & chill @ Katjasee', 'Klimclassic',
       'Ultimate Frisbee in the Park -- bring stuff to go swimming',
       'Learn how to swim in Amsterdam', 'Heuvelrug Triathlon',
       'ATAC Indoor Swim Session -  Purchase & sign up through webshop',
       'Swimming in the Limmat', 'Witte weekend Limburg ',
       'Cycle & swim Ruppiner Land', 'Xterra Belgium',
       'Poeloversteek 2022',
       '`Swimming Lessons for Adults: Beginners Only :)',
       'Learning how to swim in Diemen ( private pool)',
       '(Court Costs Shared) Terrible Beachvolleyball',
       'Beach Volleyball at Branik - OUTSIDE!',
       'Beach Volleyball (intermediates) at Olympiapark ',
       'Beach Volleyball (Beginners 4v4) at Olympiapark ',
       'Grass Volleyball in Hirschgarten Park (plus Spike Ball)',
       'Beach volleyball ',
       '☀️🐥 Thu 8:00pm - 2x2 Beach volley training BEGINNERS & LOW INTERMEDIATE 🏖️🏐',
       '🐥🔜🦁 Wed 7:00pm - 2x2 Beach volley training INTERMEDIATES 🏖️',
       'Come to play volleyball!',
       "FULL!!!Let's play volleyball and have fun! (DE PIJP AFTERNOON) !!!FULL!!!",
       'Wednesday - Smashing Expats: volleyball drills and game'],
      dtype=object)

In [90]:
#title = "Surf & Yoga Retreat Scheveningen"
#title = 'Bouldering at StudioBloc Darmstadt'
title = 'Beach Volleyball at Branik - OUTSIDE!'
content_recommender(title, cosine_sim = matrix_reloaded, df = events_df, title_to_index = title_to_index)
#content_recommender(title)

41                       Climbing/Bouldering in Smichov
42                       Climbing/Bouldering in Smichov
49                            Randa Boulder bouldering
50                            Randa Boulder bouldering
54    TRADITIONAL kayaking in Utrecht town and Ameli...
55                  Hike (17km) in Mertert/Wasserbillig
56    TRADITIONAL kayaking in Utrecht town and Ameli...
59    Hike in National Park the Loonse en Drunense D...
60    LUXEMBOURG: camping weekend together : Penteco...
61                        Hiking in Germany : Monschau
Name: title, dtype: object