# importing data from database

In [2]:
import numpy as np
import pandas as pd
from SportsExperiencePlatform.data import connect_db, get_data
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import string
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from scipy.sparse import save_npz, load_npz

In [3]:
# nltk.download('stopwords')
# nltk.download('punkt')
# nltk.download('wordnet')
# nltk.download('omw-1.4')

In [108]:
conn = connect_db()

if conn:
    users_df, events_df, ahoy_events_df = get_data(conn)

/Users/shreetamakarmakar/.pyenv/versions/3.8.13/envs/SportsExperiencePlatform/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/shreetamakarmakar/.pyenv/versions/3.8.13/envs/SportsExperiencePlatform/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/shreetamakarmakar/.pyenv/versions/3.8.13/envs/SportsExperiencePlatform/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [109]:
users_df.shape, events_df.shape, ahoy_events_df.shape

((10, 16), (964, 17), (10, 6))

In [6]:
users_df.columns

Index(['id', 'email', 'encrypted_password', 'reset_password_token',
       'reset_password_sent_at', 'remember_created_at', 'created_at',
       'updated_at', 'first_name', 'last_name', 'description', 'date_of_birth',
       'gender', 'location', 'latitude', 'longitude'],
      dtype='object')

In [7]:
events_df.head()

,id,title,description,price_per_person,capacity,address,latitude,longitude,is_external,url,offer_date,offer_time,created_at,updated_at,user_id,tag_id,external_image_url
0,1371,Berlin Skylarks Baseball and Softball Training,"We are the Berlin Skylarks, the baseball and s...",150,10.0,"Rathausstraße 7, 10178 Berlin",52.519710,13.410720,False,None,2022-06-02,19:06:57,2022-05-28 12:44:02.156122,2022-05-28 12:44:02.209019,None,87,None
1,1372,Roter Stern Berlin 2012 e.V.,"As part of Roter Stern Berlin 2012 e.V., we or...",56,12.0,"Böttgerstraße 8, 13357 Berlin",13.379800,52.520062,False,None,2022-06-03,17:41:59,2022-05-28 12:44:05.034852,2022-05-28 12:44:05.055855,None,88,None
2,1373,Basement Boulderstudio Highlight,Bouldering is quickly becoming one of the most...,33,12.0,"Stresemannstraße 72, 10963 Berlin",13.384420,52.549310,False,None,2022-06-12,20:46:24,2022-05-28 12:44:08.444229,2022-05-28 12:44:08.475776,None,94,None
3,1374,Kajak Berlin Tours,Enjoy the stunning waterscape of the legendary...,50,6.0,"Kayak-Truck vis-á-vis Cafe A.Horn, Carl-Herz-U...",13.405571,52.495747,False,None,2022-05-30,19:48:00,2022-05-28 12:44:11.583752,2022-05-28 12:44:11.602994,None,111,None
4,1375,Berlin Gym Mitte,The Berlin Gym offers you a special selection ...,150,6.0,"Philippstraße 13, 10115 Berlin",13.410610,52.516270,False,None,2022-06-04,21:00:02,2022-05-28 12:44:14.322352,2022-05-28 12:44:14.338771,None,96,None

In [8]:
ahoy_events_df.head()

,id,visit_id,user_id,name,properties,time
0,12,51,64,View Offer Page ID 1841,"{'user': 64, 'offer': 1841}",2022-05-28 13:38:01.802118
1,13,51,64,View Offer Page ID 1804,"{'user': 64, 'offer': 1804}",2022-05-28 13:38:18.486753
2,14,51,64,View Offer Page ID 1676,"{'user': 64, 'offer': 1676}",2022-05-28 13:38:44.105830
3,15,51,64,View Offer Page ID 1841,"{'user': 64, 'offer': 1841}",2022-05-28 13:38:54.335809
4,16,51,64,View Offer Page ID 1443,"{'user': 64, 'offer': 1443}",2022-05-28 13:39:00.433517

# simple tfidf model: using the raw description

## advanced cleaning of data

In [21]:
import pandas as pd
import re
import string
from bs4 import BeautifulSoup
import nltk
from nltk.stem import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer
import spacy
from googletrans import Translator

In [22]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/shreetamakarmakar/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [23]:

# def to_english(string):
    

# # result.src
# if translator.detect(string).lang != 'en':
#     result = translator.translate(string)
#     result.text

In [55]:
from googletrans import Translator
def language_translation(string):
    
    translator = Translator()
    if translator.detect(string).lang != 'en':
        result = translator.translate(string)
        return result.text
    else:
        return string

In [59]:
language_translation('yo no sabe')

'I do not know'

In [65]:
ahoy_events_df.head()

,id,visit_id,user_id,name,properties,time
0,12,51,64,View Offer Page ID 1841,"{'user': 64, 'offer': 1841}",2022-05-28 13:38:01.802118
1,13,51,64,View Offer Page ID 1804,"{'user': 64, 'offer': 1804}",2022-05-28 13:38:18.486753
2,14,51,64,View Offer Page ID 1676,"{'user': 64, 'offer': 1676}",2022-05-28 13:38:44.105830
3,15,51,64,View Offer Page ID 1841,"{'user': 64, 'offer': 1841}",2022-05-28 13:38:54.335809
4,16,51,64,View Offer Page ID 1443,"{'user': 64, 'offer': 1443}",2022-05-28 13:39:00.433517

In [67]:
users_df.head().T

,0,1,2,3,4
id,55,56,57,58,59
email,johanna@gmail.com,anjali@gmail.com,alexandra@gmail.com,ieva@gmail.com,daniel@gmail.com
encrypted_password,$2a$12$CqtujmUxnctn4PYh/LQ7Yen4N9zGBa8mAkW5lJk...,$2a$12$zoaJySL5quI21u316oCrzuwLap5n3iaoJoFEt8O...,$2a$12$EFJExS3e79KnS1Sj5SU7iuA0oE4Fe3cghnIcWCj...,$2a$12$2KfdqVXZIU7RbiktQW1GAuaBnIcIfHBSc68kwWc...,$2a$12$/DCExarGzhiUF8AS44/Tt.5P4SLPySCFgkqStUW...
reset_password_token,None,None,None,None,None
reset_password_sent_at,None,None,None,None,None
remember_created_at,None,None,None,None,None
created_at,2022-05-28 12:26:38.267750,2022-05-28 12:26:39.191914,2022-05-28 12:26:40.648549,2022-05-28 12:26:41.476255,2022-05-28 12:26:42.260631
updated_at,2022-05-28 12:26:38.283275,2022-05-28 12:26:39.203232,2022-05-28 12:26:40.656142,2022-05-28 12:26:41.484819,2022-05-28 12:26:42.268129
first_name,Johanna,Anjali,Alexandra,Ieva,Daniel
last_name,Maier,Kumar,Stroe,Jirgensone,Angerer
description,"Hi, my name is Johanna! I want to go on my nex...","Hi, my name is Anjali! I want to go on my next...","Hi, my name is Alexandra! I want to go on my n...","Hi, my name is Ieva! I want to go on my next s...","Hi, my name is Daniel! I want to go on my next..."
date_of_birth,1993-01-25,1993-01-25,1993-01-25,1993-01-25,1993-01-25
gender,female,female,female,female,male
location,Munich,Berlin,Berlin,Hamburg,Munich
latitude,48.135124,52.520008,52.520008,53.551086,48.135124
longitude,11.581981,13.404954,13.404954,9.993682,11.581981

In [68]:
events_df['translated_title'] = events_df['title'].apply(lambda x: language_translation(x))
events_df['translated_description'] = events_df['description'].apply(lambda x: language_translation(x))

In [69]:
8# load spacy
nlp = spacy.load('en_core_web_sm')

def clean_string(text,stem="None"):

    final_string = ""

    # make lower
    text = text.lower()
    
    # remove http
    text = re.sub(r"http.*\.[a-z]{2,3}","",text)

    # remove www
    text = re.sub(r"www.*\.[a-z]{2,3}","",text)
    
    # remove line breaks
    text = re.sub(r'\n','',text)

    # remove puncuation
    translator = str.maketrans('','',string.punctuation)
    text = text.translate(translator)

    # remove stop words
    text = text.split()
    useless_words = nltk.corpus.stopwords.words("english")
    text_filtered = [word for word in text if not word in useless_words]

    # remove numbers
    text_filtered = [re.sub(r'\w*\d\w*','',w) for w in text_filtered]

    # stem or lemmatize
    if stem == 'Stem':
        stemmer = PorterStemmer() 
        text_stemmed = [stemmer.stem(y) for y in text_filtered]
    elif stem == 'Lem':
        lem = WordNetLemmatizer()
        text_stemmed = [lem.lemmatize(y) for y in text_filtered]
    elif stem == 'Spacy':
        text_filtered = nlp(' '.join(text_filtered))
        text_stemmed = [y.lemma_ for y in text_filtered]
    else:
        text_stemmed = text_filtered

    final_string = ' '.join(text_stemmed)

    return final_string

In [70]:
events_df['clean_description'] = events_df['translated_description'].apply(lambda x: clean_string(x))
events_df['clean_title'] = events_df['translated_title'].apply(lambda x: clean_string(x))

In [71]:
events_df.shape[0]

964

In [80]:
events_df['description'][962]

'Willkommen!\n\nIn diesem Kurs geht es darum, den Zustand der Meditation zu erreichen, zu festigen und zu vertiefen.\n\nAuch Neueinsteiger, die mutig ins kalte Wasser springen wollen, sind herzlich willkommen! Euch bieten wir Mittwochs um 19:30 Uhr zusätzlich den Kurs “Unser inneres Energiesystem” an.\n\nWas benötigt ihr für die Teilnahme?\n- einen ruhigen Ort\n- einen Sitzplatz: auf einem Sofa, Stuhl, Bett oder auf dem Boden\n- einen Computer, ein Laptop oder ein Smartphone\n- eine Internet-Verbindung\n- wir haben mit Google Chrome als Browser die besten Erfahrungen gemacht\n\nOnline Live Seminarraum\nÜber diesen Link gelangt ihr zu unserem Seminarraum:\nhttps://pruffme.com/landing/u99439/germinate\nKlickt dann auf "Dem Webinar beitreten" und loggt euch ein.\n\nFalls es Probleme gibt, hilft unsere Bedienungsanleitung weiter:\nhttps://docs.google.com/document/d/189sx4cBuTkgMEMaNnxufQwKx6OSws019eVrRA5rCDTc\n\nUnser Team\nWir leiten seit vielen Jahren in verschiedenen Städten Sahaja Yoga Meditationskurse und arbeiten jetzt zusammen an diesem deutschsprachigen Online Angebot, das wir in zahlreichen Meetup-Gruppen bewerben. Wir übernehmen abwechselnd die Verantwortung für einen einzelnen Abend und verbessern unser Angebot Schritt für Schritt. - Ehrenamtlich -\n\nWir freuen uns auf euch!'

In [81]:
events_df['clean_description'][962]

'welcomethis course reaching consolidating deepening state meditationnewcomers want bravely jump cold water also welcome also offer course “our inner energy system” wednesdays  pmwhat need participate quiet place seat sofa chair bed floor computer laptop smartphone internet connection best experience google chrome browseronline live seminar roomthis link take seminar  click join webinar log inif problems operating instructions  teamwe leading sahaja yoga meditation courses various cities many years working together germanlanguage online offer promoting numerous meetup groups take turns taking responsibility single evening improving offer step step voluntarily look forward'

#  recommender combining both title and description

## mashup of title and description

In [82]:
import random
'''this may be a bit dangerous but doing just for fun!!!'''
def random_generate_list(x):
    names = list(x.split())
    random.shuffle(names)
    if len(names) > 5:
        names = names[:5]
            
        
    return names

def random_generate_long_list(x):
    names = list(x.split())
    random.shuffle(names)
    if len(names) > 200:
        names = names[:200]
            
        
    return names

In [83]:
events_df['random_title'] = events_df['clean_title'].apply(lambda x: random_generate_list(x))
events_df['random_description'] = events_df['clean_description'].apply(lambda x: random_generate_long_list(x))

In [84]:
(' '.join(events_df["random_title"][0]) + ' ' + ' '.join(events_df["random_description"][962])).split()

['baseball',
 'softball',
 'skylarks',
 'berlin',
 'training',
 'improving',
 'problems',
 'webinar',
 'take',
 'forward',
 'want',
 'connection',
 '“our',
 'inif',
 'participate',
 'deepening',
 'computer',
 'seat',
 'teamwe',
 'cities',
 'yoga',
 'evening',
 'quiet',
 'roomthis',
 'cold',
 'welcome',
 'seminar',
 'click',
 'seminar',
 'promoting',
 'wednesdays',
 'turns',
 'take',
 'sahaja',
 'bed',
 'best',
 'chrome',
 'bravely',
 'water',
 'offer',
 'live',
 'course',
 'meetup',
 'step',
 'responsibility',
 'groups',
 'germanlanguage',
 'meditation',
 'voluntarily',
 'instructions',
 'working',
 'reaching',
 'also',
 'single',
 'link',
 'online',
 'look',
 'step',
 'state',
 'pmwhat',
 'many',
 'google',
 'join',
 'together',
 'jump',
 'sofa',
 'energy',
 'leading',
 'numerous',
 'consolidating',
 'laptop',
 'experience',
 'meditationnewcomers',
 'courses',
 'system”',
 'years',
 'various',
 'inner',
 'need',
 'chair',
 'smartphone',
 'log',
 'browseronline',
 'operating',
 'also',
 'course',
 'offer',
 'place',
 'internet',
 'welcomethis',
 'offer',
 'floor',
 'taking']

In [85]:
def create_soup(x):
    soup = (" ".join(x["random_title"]) + " " + " ".join(x["random_description"])).split()
    random.shuffle(soup)
    return ' '.join(soup)
# df["soup"] = df.apply(create_soup, axis = 1)
# df["soup"].head(3)

In [86]:
events_df['soup'] = events_df.apply(create_soup, axis = 1)

In [87]:
events_df.soup[962]

'years place operating chair seminar voluntarily reaching inif offer deepening chrome inner problems state seminar various numerous meditation step consolidating also seat log computer pmwhat best energy cities also meetup online look course take sahaja internet wednesdays laptop yoga roomthis online taking working offer need experience time teamwe click connection bed instructions welcomethis welcome smartphone browseronline step meditationnewcomers improving forward system” promoting many cold participate sofa turns responsibility floor live groups single jump want evening take courses google course link bravely meditation quiet “our leading offer water germanlanguage together join webinar'

## tfidf on clean data

In [88]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

tfidf = TfidfVectorizer(stop_words="english")

In [89]:
tfidf_matrix = tfidf.fit_transform(events_df["soup"])
tfidf_matrix.shape

(964, 8250)

In [90]:
cosine_sim = tfidf_matrix.dot(tfidf_matrix.T)

In [91]:
ahoy_events_df.head()

,id,visit_id,user_id,name,properties,time
0,12,51,64,View Offer Page ID 1841,"{'user': 64, 'offer': 1841}",2022-05-28 13:38:01.802118
1,13,51,64,View Offer Page ID 1804,"{'user': 64, 'offer': 1804}",2022-05-28 13:38:18.486753
2,14,51,64,View Offer Page ID 1676,"{'user': 64, 'offer': 1676}",2022-05-28 13:38:44.105830
3,15,51,64,View Offer Page ID 1841,"{'user': 64, 'offer': 1841}",2022-05-28 13:38:54.335809
4,16,51,64,View Offer Page ID 1443,"{'user': 64, 'offer': 1443}",2022-05-28 13:39:00.433517

In [92]:
title_to_index = pd.Series(events_df.index, index = events_df["title"]).drop_duplicates()

In [113]:
ahoy_events_df.user_id.unique()

array([64, 55, 59])

In [100]:
# event_idx = ahoy_events_df[ahoy_events_df['user_id']==46].iloc[0].properties['offer']
# # now we get the title of the event
# title = events_df[events_df['id']==event_idx].title

In [121]:
events_df.head()

,id,title,description,price_per_person,capacity,address,latitude,longitude,is_external,url,offer_date,offer_time,created_at,updated_at,user_id,tag_id,external_image_url
0,1371,Berlin Skylarks Baseball and Softball Training,"We are the Berlin Skylarks, the baseball and s...",150,10.0,"Rathausstraße 7, 10178 Berlin",52.519710,13.410720,False,None,2022-06-02,19:06:57,2022-05-28 12:44:02.156122,2022-05-28 12:44:02.209019,None,87,None
1,1372,Roter Stern Berlin 2012 e.V.,"As part of Roter Stern Berlin 2012 e.V., we or...",56,12.0,"Böttgerstraße 8, 13357 Berlin",13.379800,52.520062,False,None,2022-06-03,17:41:59,2022-05-28 12:44:05.034852,2022-05-28 12:44:05.055855,None,88,None
2,1373,Basement Boulderstudio Highlight,Bouldering is quickly becoming one of the most...,33,12.0,"Stresemannstraße 72, 10963 Berlin",13.384420,52.549310,False,None,2022-06-12,20:46:24,2022-05-28 12:44:08.444229,2022-05-28 12:44:08.475776,None,94,None
3,1374,Kajak Berlin Tours,Enjoy the stunning waterscape of the legendary...,50,6.0,"Kayak-Truck vis-á-vis Cafe A.Horn, Carl-Herz-U...",13.405571,52.495747,False,None,2022-05-30,19:48:00,2022-05-28 12:44:11.583752,2022-05-28 12:44:11.602994,None,111,None
4,1375,Berlin Gym Mitte,The Berlin Gym offers you a special selection ...,150,6.0,"Philippstraße 13, 10115 Berlin",13.410610,52.516270,False,None,2022-06-04,21:00:02,2022-05-28 12:44:14.322352,2022-05-28 12:44:14.338771,None,96,None

In [125]:
import datetime

In [134]:
from datetime import date

def get_title(user_id, df = ahoy_events_df):
    ''' this finction grabs the title of an event used by an user from ahoy_events dataset'''
    
    event_idx = ahoy_events_df[ahoy_events_df['user_id']== user_id].iloc[0].properties['offer']
    # now we get the title of the event
    title = events_df[events_df['id']==event_idx].title
    
    return title

# def get_current_date():
    
    
    
# def get_user_loc():   

def content_recommender(user_id, cosine_sim = cosine_sim, df = events_df, title_to_index = title_to_index):
    '''This recommender finds out 20 closest matches with a given event'''
    
    #calling user id from ahoy_events
    
    title = get_title(user_id, df = ahoy_events_df)
    
    idx = title_to_index[title]
    
    sim_scores = list(enumerate(cosine_sim[idx].todense().tolist()[0]))
    # list of set [(index, sim score), (index, sim score), ...]
    
    sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse = True)
    # Sort the list of set by sim score, index with highest simlirarity
    # Will be at the beginning of the list
    
    sim_scores = sim_scores[1:101] # top 100 events (first one is our input events so we ignore it)
    
    sport_indices = [i[0] for i in sim_scores] # we grab the indices of those 10 events
    
    
    return df['title'].iloc[sport_indices]

In [135]:
content_recommender(64)

85                   Bulgaria 🇧🇬 - Seven Rila lakes hike
472    Swiss 🇨🇭 Geneva - France 🇫🇷- Mont Blanc (hike ...
533                     Poland 🇵🇱- City break in Poznan
531    Swedish Lake: Join us on an idyllic hike aroun...
619         Visit Black Forest and Switzerland 🇨🇭- Basel
                             ...
271             50 Districts: Crossing Düsseldorf Vol. 5
359    Hiking in High Tatras and Slovak Paradise Nati...
525    Hiking in High Tatras and Slovak Paradise Nati...
88                                           Via Ferrata
360    Teufelstättkopf via Schleifmühlklamm Hike (17k...
Name: title, Length: 100, dtype: object

In [ ]:
content_recommender("Along the shore of the Elbe to Aumühle (52 km/ hard)")

In [215]:
type(events_df.latitude[0])

numpy.float64

In [277]:
def haversine_vectorized(user_lat,
                         user_lon,
                         event_lat,
                         event_lon):
    """
        Calculate the great circle distance between two points
        on the earth (specified in decimal degrees).
        Vectorized version of the haversine distance for pandas df
        Computes distance in kms
    """

    lat_1_rad, lon_1_rad = np.radians(user_lat), np.radians(user_lon)
    lat_2_rad, lon_2_rad = np.radians(event_lat), np.radians(event_lon)
    dlon = lon_2_rad - lon_1_rad
    dlat = lat_2_rad - lat_1_rad

    a = np.sin(dlat / 2.0) ** 2 + np.cos(lat_1_rad) * np.cos(lat_2_rad) * np.sin(dlon / 2.0) ** 2
    c = 2 * np.arcsin(np.sqrt(a))
    return 6371 * c

In [283]:
haversine_vectorized(48.135124, 11.581981, 47.135124, 12.581981)

134.0816183723369

In [294]:
users_df.id.unique()

array([55, 56, 57, 58, 59, 60, 61, 62, 63, 64])

In [305]:
get_user_loc(63, df = users_df)

{'user_latitude': 48.775845, 'user_longitude': 9.182932}

#  recommemder filter for future dates and nearest places

In [342]:
from datetime import date

def get_title(user_id, df = ahoy_events_df):
    ''' this finction grabs the title of an event used by an user from ahoy_events dataset'''
    
    event_idx = ahoy_events_df[ahoy_events_df['user_id']== user_id].iloc[0].properties['offer']
    # now we get the title of the event
    title = events_df[events_df['id']==event_idx].title
    
    return title  

def get_user_loc(user_id, df = users_df):   
    ''' this finction grabs the location of an user from ahoy_events dataset'''
    
    users_idx = users_df[users_df['id']== user_id]
    # now we get the user's latitude and longitude
    
    location_dict = {'user_latitude' : float(users_idx.latitude.values), 
                     
                     'user_longitude' : float(users_idx.longitude.values)
                        }
     
    return location_dict


def content_recommender(user_id, cosine_sim = cosine_sim, df = events_df, title_to_index = title_to_index):
    '''This recommender finds out 20 closest matches with a given event'''
    
    #calling user id from ahoy_events
    
    title = get_title(user_id, df = ahoy_events_df)
    
    idx = title_to_index[title]
    
    sim_scores = list(enumerate(cosine_sim[idx].todense().tolist()[0]))
    # list of set [(index, sim score), (index, sim score), ...]
    
    sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse = True)
    # Sort the list of set by sim score, index with highest simlirarity
    # Will be at the beginning of the list
    
    sim_scores = sim_scores[1:101] # top 100 events (first one is our input events so we ignore it)
    
    sport_indices = [i[0] for i in sim_scores] # we grab the indices of those 10 events
    
    df_all_recommendations = df.iloc[sport_indices][['title', 'latitude', 'longitude', 'offer_date']]
    
    df_date_filter = df_all_recommendations[df_all_recommendations['offer_date'] >= datetime.date.today()]
    
    #calcullation of haversine distance for users:
    user_latitude = get_user_loc(user_id, df = users_df)['user_latitude']
    user_longitude = get_user_loc(user_id, df = users_df)['user_longitude']
    
    df_date_filter['user_latitude'] = user_latitude
    df_date_filter['user_longitude'] = user_longitude
    
    df_date_filter["distance"] = haversine_vectorized(df_date_filter.latitude, df_date_filter.longitude,
                                                      df_date_filter.user_latitude, df_date_filter.user_longitude)
            
    df_location_filter = df_date_filter[df_date_filter['distance'] <= 200.0]
    
    
                                                
    return df_location_filter.title
#     return user_latitude

In [343]:
ahoy_events_df.user_id.unique()

array([64, 55, 59])

In [344]:
content_recommender(55)

302                         Women’s Trial Day Bruncharoo
409    Outdoor Fitness Bootcamp - DEU/ENG - West (Pay...
407    Outdoor Fitness Bootcamp - DEU/ENG - West (Pay...
410    Outdoor Fitness Bootcamp - DEU/ENG - West (Pay...
Name: title, dtype: object

# package installations