# importing data from json

In [114]:
import numpy as np
import pandas as pd
import json
import os

In [115]:

data_path = os.path.join(os.path.dirname(os.getcwd()), 'raw_data/')
json_files = [files for files in os.listdir(data_path) if files.endswith('.json')]
print(json_files)

['berlin_hiking.json', 'london_sports.json', 'frankfurt_running.json', 'berlin_cycling.json', 'berlin_running.json', 'berlin_yoga.json', 'berlin_sports.json', 'frankfurt_yoga.json', 'frankfurt_hiking.json', 'berlin_canoeing.json']

In [116]:
user_df = pd.read_csv(f'{data_path}users.csv')

In [117]:
user_df.head().T

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
id,19,20,21,22,23
email,johanna@gmail.com,anjali@gmail.com,alexandra@gmail.com,ieva@gmail.com,daniel@gmail.com
encrypted_password,$2a$12$rZkuGDgbHIHpi3sYfS4or.EmNEd61QoDhi3IEEL...,$2a$12$L.9JFRFJeF6GMfrvHQ9ycuxwAOS3ddYMeuhj7Qr...,$2a$12$ZBcWOyC2RU8aP5nWLKMlee54mNk4gmRIkFZPYL7...,$2a$12$xRfA6rvHxBLt0ETNb.fGputBmPcU1tEd6KiEXIr...,$2a$12$iElgTE/LWI.UAdBDKEUxYOpdme2qXF/nQyiuM2i...
reset_password_token,NaN,NaN,NaN,NaN,NaN
reset_password_sent_at,NaN,NaN,NaN,NaN,NaN
remember_created_at,NaN,NaN,NaN,NaN,NaN
created_at,2022-05-21 10:12:18.076423,2022-05-21 10:12:18.316674,2022-05-21 10:12:18.556628,2022-05-21 10:12:18.796555,2022-05-21 10:12:19.041699
updated_at,2022-05-21 10:12:18.076423,2022-05-21 10:12:18.316674,2022-05-21 10:12:18.556628,2022-05-21 10:12:18.796555,2022-05-21 10:12:19.041699
first_name,Johanna,Anjali,Alexandra,Ieva,Daniel
last_name,Maier,Kumar,Stroe,Jirgensone,Angerer
description,"Hi, my name is Johanna! I want to go on my nex...","Hi, my name is Anjali! I want to go on my next...","Hi, my name is Alexandra! I want to go on my n...","Hi, my name is Ieva! I want to go on my next s...","Hi, my name is Daniel! I want to go on my next..."
date_of_birth,1993-01-25,1993-01-25,1993-01-25,1993-01-25,1993-01-25
gender,female,female,female,female,male

In [118]:
offers_df = pd.read_csv(f'{data_path}offers.csv')

In [119]:
data_path = os.path.join(os.path.dirname(os.getcwd()), 'raw_data/')
file_berlin = 'berlin_yoga.json'
with open(data_path+file_berlin) as f:
    data = json.load(f)
print(data['Data'][2])

{'title': 'ONLINE YOGA | Jivamukti Yoga Advanced', 'description': 'Yoga mit Nina Bettermann\n\nSonntags 17 Uhr — 18:30 Uhr\n\n90 Minuten intensive, ausgiebige Asana-Praxis mit wechselndem Schwerpunkt sowie Meditation stehen immer auf dem Programm. Unterrichtet wird die Stunde von Jivamuktilehrerin Nina Bettermann.\n\nUnterrichtssprache ist Deutsch - English if required!!\n\nNina Bettermann\n\nNina ist 800-Stunden zertifizierte Jivamukti-Lehrerin. 2005 besuchte sie ihre erste Yogastunde. Was anfangs als Ausgleich zum stressigen Studium gedacht war, wurde schnell zur unverzichtbaren täglichen Praxis. Nachdem sie verschiedene Yogastile ausprobiert hatte, fand sie schließlich im Jivamukti Yoga ihr Zuhause. Daher entschloss sie sich im Winter 2010, nach dem Abschluss ihres Pharmaziestudiums, das Jivamukti Yoga Teacher Training mit Sharon Gannon, David Life Patrick Broome und Yogeswari zu absolvieren. 2014 folgte das 800hrs-Apprenticeship bei ihrer Mentorin Vera. Seitdem unterrichtet Nina, neben ihrer Tätigkeit als Apothekerin, in mehreren Berliner Yogastudios. Dabei ist ihr aber die eigene tägliche Praxis weiterhin heilig. Denn nur was man selber erlebt hat, kann man auch authentisch weitergeben und unterrichten :)\n\nThe balance recommended:\nDonation-Drop-In 13-16€\nUSC Members Welcome: USC M (4x), L (8x), XL (8x)\nStudiocard Price: https://www.yogaatlobeblock.de/preise', 'priceTier': 'paid', 'numberOfAllowedGuests': 3, 'dateTime': '2022-06-12T17:00+02:00', 'timezone': 'Europe/Berlin', 'eventUrl': 'https://www.meetup.com/Berlin-Yoga-Club/events/286093739', 'imageUrl': 'https://secure-content.meetupstatic.com/images/classic-events/481766032/676x380.webp', 'venue': {'name': 'Online event', 'address': '', 'city': '', 'state': '', 'postalCode': '', 'country': '', 'lat': 52.548897, 'lng': 13.381073}, 'fee': 0}

In [120]:
data_path = os.path.join(os.path.dirname(os.getcwd()), 'raw_data/')

json_files = [files for files in os.listdir(data_path) if files.endswith('.json')]
#print(json_files)
data_dict = []
for val in json_files:
    with open(data_path+val) as f:
        data = json.load(f)
         
        for val in data['Data']:
            if val['venue'] != None:
                
                data_dict.append({'title': val['title'], 
                                  'description': val['description'],
                                  'event_date':val['dateTime'],
                                  'event_latitude': val['venue']['lat'],
                                  'event_longitude': val['venue']['lng']



                                 })

In [121]:
df = pd.DataFrame.from_dict(data_dict).drop_duplicates()
df.shape

(1257, 5)

In [122]:
df.duplicated().sum()

0

## simple cleaning of description

In [123]:
import re
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [124]:
def remove_punctuation(text):
    no_punct=[words for words in text if words not in string.punctuation]
    words_wo_punct=''.join(no_punct)
    return words_wo_punct

In [125]:
df['description'][0].split()

['This',
 'event',
 'is',
 'ideal',
 'for',
 'nature',
 'lovers',
 'and',
 'outdoor',
 'people.',
 'We',
 'will',
 'be',
 'hiking',
 'in',
 '2',
 'national',
 'parks,',
 'the',
 'High',
 'Tatras',
 'and',
 'Slovak',
 'Paradise.',
 'Each',
 'walk',
 'is',
 'done',
 'in',
 'one',
 'day,',
 'so',
 'at',
 'the',
 'end',
 'of',
 'the',
 'day,',
 'we',
 'will',
 'bring',
 'you',
 'back',
 'to',
 'your',
 'accommodation',
 'where',
 'you',
 'will',
 'comfortably',
 'spend',
 'the',
 'night.',
 'Although',
 'some',
 'hikes',
 'might',
 'be',
 'a',
 'bit',
 'more',
 'demanding,',
 'this',
 'tour',
 'is',
 'designed',
 'for',
 'people',
 'of',
 'a',
 'good',
 'fitness',
 'level,',
 'but',
 'not',
 'necessarily',
 'highly',
 'physically',
 'fit.',
 'For',
 'more',
 'information',
 'and',
 'prices',
 'click',
 'on',
 'the',
 'link',
 'below.',
 '[Tour',
 'Itinerary',
 'and',
 'Info](https://www.experienceslovakianow.com/copy-of-new-page)',
 'You',
 'can',
 'fly',
 'to',
 'Poprad',
 'Tatry',
 'airport',
 'or',
 'Kosice',
 'airport.',
 'From',
 'Krakow',
 'or',
 'Budapest',
 'you',
 'can',
 'take',
 'a',
 'direct',
 'bus,',
 'Flixbus',
 'to',
 'Poprad.',
 'From',
 'Prague,',
 'Bratislava',
 'or',
 'Vienna',
 'there',
 'are',
 'direct',
 'trains',
 'to',
 'Poprad,',
 'too.']

In [126]:
df['description_clean'] = df['description'].apply(lambda x: remove_punctuation(str(x)).lower().split())
#df['description_clean'] = df['description'].apply(lambda x: remove_punctuation(x))
#df['description_clean'] = df['description'].apply(lambda x: str(x).split())
#df['description'] = df['description'].apply(lambda x: re.sub('[^A-Za-z0-9] ', '', str(x)))

#df['description'] = df['description'].apply(lambda x: re.sub('^(http:+|https:)// ', '', str(x)))

In [127]:
df.description_clean

0       [this, event, is, ideal, for, nature, lovers, ...
1       [the, most, awaited, trip, seven, rila, lakes,...
2       [discover, the, mystical, sunken, birch, fores...
3       [trip, highlights, visit, geneva, chamonix, hi...
4       [discover, the, mystical, sunken, birch, fores...
                              ...
1294    [gönn, dir, den, spiritu, firetalk, um, ins, g...
1295    [ein, mitmachwildkräuterkochevent, mit, feuerm...
1296    [de, eventbeschreibung, hallo, zusammen, egal,...
1297    [wir, machen, uns, auf, den, weg, durch, die, ...
1298    [on, request, a, small, tour, 5km, 179, meters...
Name: description_clean, Length: 1257, dtype: object

# simple tfidf model: using the raw description

## advanced cleaning of data

In [128]:
import pandas as pd
import re
import string
from bs4 import BeautifulSoup
import nltk
from nltk.stem import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer
import spacy

In [129]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/shreetamakarmakar/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [130]:
8# load spacy
nlp = spacy.load('en_core_web_sm')

def clean_string(text,stem="None"):

    final_string = ""

    # make lower
    text = text.lower()
    
    # remove http
    text = re.sub(r"http.*.com","",text)

    # remove www
    text = re.sub(r"www.*.com","",text)
    
    # remove line breaks
    text = re.sub(r'\n','',text)

    # remove puncuation
    translator = str.maketrans('','',string.punctuation)
    text = text.translate(translator)

    # remove stop words
    text = text.split()
    useless_words = nltk.corpus.stopwords.words("english")
    text_filtered = [word for word in text if not word in useless_words]

    # remove numbers
    text_filtered = [re.sub(r'\w*\d\w*','',w) for w in text_filtered]

    # stem or lemmatize
    if stem == 'Stem':
        stemmer = PorterStemmer() 
        text_stemmed = [stemmer.stem(y) for y in text_filtered]
    elif stem == 'Lem':
        lem = WordNetLemmatizer()
        text_stemmed = [lem.lemmatize(y) for y in text_filtered]
    elif stem == 'Spacy':
        text_filtered = nlp(' '.join(text_filtered))
        text_stemmed = [y.lemma_ for y in text_filtered]
    else:
        text_stemmed = text_filtered

    final_string = ' '.join(text_stemmed)

    return final_string

In [131]:
df['clean_description'] = df['description'].apply(lambda x: clean_string(x))
df['clean_title'] = df['title'].apply(lambda x: clean_string(x))

#  recommender combining both title and description

## mashup of title and description

In [132]:
import random
'''this may be a bit dangerous but doing just for fun!!!'''
def random_generate_list(x):
    names = list(x.split())
    random.shuffle(names)
    if len(names) > 5:
        names = names[:5]
            
        
    return names

def random_generate_long_list(x):
    names = list(x.split())
    random.shuffle(names)
    if len(names) > 200:
        names = names[:200]
            
        
    return names

In [133]:
df['random_title'] = df['clean_title'].apply(lambda x: random_generate_list(x))
df['random_description'] = df['clean_description'].apply(lambda x: random_generate_long_list(x))

In [134]:
(' '.join(df["random_title"][0]) + ' ' + ' '.join(df["random_description"][0])).split()

['paradise',
 'high',
 'slovak',
 'hiking',
 'national',
 'click',
 'day',
 'good',
 'accommodation',
 'one',
 'krakow',
 'tour',
 'although',
 'nature',
 'designed',
 'vienna',
 'people',
 'kosice',
 'night',
 'national',
 'highly',
 'lovers',
 'fitness',
 'event',
 'fitfor',
 'slovak',
 'spend',
 'bring',
 'airport',
 'necessarily',
 'infocopyofnewpageyou',
 'walk',
 'budapest',
 'end',
 'parks',
 'direct',
 'trains',
 'poprad',
 'people',
 'poprad',
 'outdoor',
 'paradise',
 'comfortably',
 'fly',
 'tatras',
 'hikes',
 'bus',
 'itinerary',
 'bratislava',
 'link',
 'flixbus',
 'demanding',
 'direct',
 'airport',
 'tatry',
 'ideal',
 'prices',
 'hiking',
 'bit',
 'prague',
 'done',
 'poprad',
 'physically',
 'take',
 'high',
 'belowtour',
 'level',
 'information',
 'back',
 'day',
 'might']

In [135]:
def create_soup(x):
    soup = (" ".join(x["random_title"]) + " " + " ".join(x["random_description"])).split()
    random.shuffle(soup)
    return ' '.join(soup)
# df["soup"] = df.apply(create_soup, axis = 1)
# df["soup"].head(3)

In [136]:
df['soup'] = df.apply(create_soup, axis = 1)

In [137]:
df.soup[1]

'participantstravel rent reach stay visit vitosha cologne car tired visit sofia evening june places car hotel uphill cathedral lakes till till staying itineraryflights seven reserver return skakavitsa base plan park approx covering available night lakes long dinner sofia lakespack car vitosha car due june preserve vistosha nights lunch morninglets organizing sharingwe hikingtotal cable limited top join seven hike rila take participants mountains june city organizing berlin cable going sofia please bonfire expense cable night city euro top trip flight people hike start bulgaria cologne city hotel center walk keep lakes cologne return mountains check st luggage trip berlin team day seven george dates source people several one hike start total plovdivrough food checkin grouphighlights walk flight group together june stationtill sofia cologne synagogue plodiv lunch start struma exploring detailsflights covering ride top luggage night june sofia see church city etc trip stop etc meanwhile awaited euro national hotels hotel car days sofia number hike lakes singing euroi uphill start hiking evening opt huts going sofia june cable rila uhr car reach cable return less explore either small make river bulgaria final share hiking explore reach area going last explore transport waterfall reach uhr accommodation hike point serious night flights top super rila starting car euro'

## tfidf on clean data

In [138]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

tfidf = TfidfVectorizer(stop_words="english")

In [139]:
tfidf_matrix = tfidf.fit_transform(df["soup"])
tfidf_matrix.shape

(1257, 9830)

In [140]:
cosine_sim = tfidf_matrix.dot(tfidf_matrix.T)

In [141]:
title_to_index = pd.Series(df.index, index = df["title"]).drop_duplicates()

In [142]:
def content_recommender(title, cosine_sim = cosine_sim, df = df, title_to_index = title_to_index):
    '''This recommender finds out 20 closest matches with a given event'''
    idx = title_to_index[title]
    
    sim_scores = list(enumerate(cosine_sim[idx].todense().tolist()[0]))
    # list of set [(index, sim score), (index, sim score), ...]
    
    sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse = True)
    # Sort the list of set by sim score, index with highest simlirarity
    # Will be at the beginning of the list
    
    sim_scores = sim_scores[1:21] # top 10 events (first one is our input events so we ignore it)
    
    sport_indices = [i[0] for i in sim_scores] # we grab the indices of those 10 events
    
    return df["title"].iloc[sport_indices]

In [143]:
df.title[400]

'Adventure in Spain Gran Canaria las Palmas. You will never forget this adventure'

In [144]:
content_recommender("Hiking in High Tatras and Slovak Paradise National Parks")

586     Adventure in Spain Canary Islands.  La Palma a...
538     WALES Snowdonia Camping and Hiking Adventure W...
536     Camping and Hiking in the Peak District. With ...
468           Introduction to Wild Camping with BBQ fire.
102     Camping and Hiking in Wales Snowdonia. With BB...
23                                             Nature Day
28                                             Nature Day
3       Swiss 🇨🇭 Geneva - France 🇫🇷- Mont Blanc (hike ...
24                                            Nature Walk
400     Adventure in Spain Gran Canaria las Palmas. Yo...
533     Wales Camping and Hiking Adventure - with BBQ ...
100            Camping and Hiking in Wales. With BBQ fire
1104    A gathering for High Sensation Seeking, High S...
20      Four Towers: Top-voted hike along rolling hill...
40       Italy 🇮🇹- Hiking in Dolomities - Verona & Venice
26      Four Towers: Top-voted hike along rolling hill...
1                    Bulgaria  🇧🇬 - Seven Rila lakes hike
2       Fairytale Forest: Hike through the mystical la...
4       Fairytale Forest: Hike through the mystical la...
12      Fairytale Forest: Hike through the mystical la...
Name: title, dtype: object

#  recommemder filter for future dates and nearest places

In [145]:
df.head().T

,0,1,2,3,4
title,Hiking in High Tatras and Slovak Paradise Nati...,Bulgaria 🇧🇬 - Seven Rila lakes hike,Fairytale Forest: Hike through the mystical la...,Swiss 🇨🇭 Geneva - France 🇫🇷- Mont Blanc (hike ...,Fairytale Forest: Hike through the mystical la...
description,This event is ideal for nature lovers and outd...,The most awaited trip - Seven Rila lakes hike ...,"Discover the mystical sunken birch forest, the...","Trip highlights\n\n* Visit Geneva, Chamonix\n*...","*Discover the mystical sunken birch forest, th..."
event_date,2022-06-10T15:00+02:00,2022-06-16T07:00+02:00,2022-06-05T11:15+02:00,2022-06-04T06:00+02:00,2022-06-18T11:15+02:00
event_latitude,52.520008,52.520008,52.71254,52.520008,52.71254
event_longitude,13.404954,13.404954,13.33537,13.404954,13.33537
description_clean,"[this, event, is, ideal, for, nature, lovers, ...","[the, most, awaited, trip, seven, rila, lakes,...","[discover, the, mystical, sunken, birch, fores...","[trip, highlights, visit, geneva, chamonix, hi...","[discover, the, mystical, sunken, birch, fores..."
clean_description,event ideal nature lovers outdoor people hikin...,awaited trip seven rila lakes hike bulgaria li...,discover mystical sunken birch forest valley u...,trip highlights visit geneva chamonix hiking a...,discover mystical sunken birch forest valley u...
clean_title,hiking high tatras slovak paradise national parks,bulgaria 🇧🇬 seven rila lakes hike,fairytale forest hike mystical landscape bries...,swiss 🇨🇭 geneva france 🇫🇷 mont blanc hike gondola,fairytale forest hike mystical landscape bries...
random_title,"[paradise, high, slovak, hiking, national]","[seven, bulgaria, rila, lakes, hike]","[forest, briesetal, landscape, hike, fairytale]","[🇫🇷, geneva, france, 🇨🇭, blanc]","[landscape, mystical, hike, forest, briesetal]"
random_description,"[click, day, good, accommodation, one, krakow,...","[till, rent, take, bulgaria, long, national, p...","[every, donate, relaxed, go, briese, getaway, ...","[mountain, blanc, midi, flight, cable, balcon,...","[birch, trip, difficulty, donate, size, train,..."
soup,lovers highly poprad hiking bratislava althoug...,participantstravel rent reach stay visit vitos...,easy habitats spot mostly relaxed booking rive...,high organizing take visit return spending tim...,forest english ticket sunken endemic humans hu...