# importing data from database

In [1]:
import numpy as np
import pandas as pd
from SportsExperiencePlatform.data import connect_db, get_data
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import string
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from scipy.sparse import save_npz, load_npz

In [49]:
conn = connect_db()

if conn:
    users_df, events_df, ahoy_events_df = get_data(conn)

/Users/shreetamakarmakar/.pyenv/versions/3.8.13/envs/SportsExperiencePlatform/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/shreetamakarmakar/.pyenv/versions/3.8.13/envs/SportsExperiencePlatform/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/shreetamakarmakar/.pyenv/versions/3.8.13/envs/SportsExperiencePlatform/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [50]:
users_df.shape, events_df.shape, ahoy_events_df.shape

((9, 17), (868, 17), (30, 6))

In [6]:
users_df.he

AttributeError: 'DataFrame' object has no attribute 'he'

In [8]:
events_df[events_df['title'] == 'Gilde Bowling Wandsbek'].index

Int64Index([202, 203], dtype='int64')

In [9]:
users_df.columns

Index(['id', 'email', 'encrypted_password', 'reset_password_token',
       'reset_password_sent_at', 'remember_created_at', 'created_at',
       'updated_at', 'first_name', 'last_name', 'description', 'date_of_birth',
       'gender', 'location', 'latitude', 'longitude', 'preferences'],
      dtype='object')

In [10]:
users_df.to_dict()

{'id': {0: 56,
  1: 57,
  2: 58,
  3: 61,
  4: 62,
  5: 63,
  6: 60,
  7: 59,
  8: 55,
  9: 65,
  10: 64},
 'email': {0: 'anjali@gmail.com',
  1: 'alexandra@gmail.com',
  2: 'ieva@gmail.com',
  3: 'shreetama@gmail.com',
  4: 'andrew@gmail.com',
  5: 'killian@gmail.com',
  6: 'julian@gmail.com',
  7: 'daniel@gmail.com',
  8: 'johanna@gmail.com',
  9: 'rpadev7@yahoo.com',
  10: 'shreetama1985@gmail.com'},
 'encrypted_password': {0: '$2a$12$zoaJySL5quI21u316oCrzuwLap5n3iaoJoFEt8O7NGSzJfZzuZwxu',
  1: '$2a$12$EFJExS3e79KnS1Sj5SU7iuA0oE4Fe3cghnIcWCj2ElMsyQ0CEz6l.',
  2: '$2a$12$2KfdqVXZIU7RbiktQW1GAuaBnIcIfHBSc68kwWc9eFLxLha7o8Qee',
  3: '$2a$12$Y3BZQdV7MhHLkHWNjXNI2.0/xszGFofvoLFtvwq2UabKnckE4QLBe',
  4: '$2a$12$WQNQrH8cu5Pmvk228dOzCONyjixPUEhV.snxt1ju9dcLHYHj3CHbG',
  5: '$2a$12$EGWPW0BWsJk07er5uGiXjeNaLFqubjkIvSaq6VSBDCTJ0TX97GVXi',
  6: '$2a$12$JaT8SCjL4GJ4gokRU/GO5.1YpDCt00/GwNj8ChDvethLfiUzKWaFi',
  7: '$2a$12$/DCExarGzhiUF8AS44/Tt.5P4SLPySCFgkqStUWKpv830B0fAghXO',
  8: '$2a$12$CqtujmUxnctn4PYh/LQ7Yen4N9zGBa8mAkW5lJk0GGX4OiNg7Sx3K',
  9: '$2a$12$MdWAEIjH9EyMqA6dg5Xz8e5DuUlOkGN.nR2PH9dcUvKncstBfBJvm',
  10: '$2a$12$8O0AVmviqFX4G.eP/ual6uGUfv6wiq3C5Y.5VcSSdIgCt2KrtkGi6'},
 'reset_password_token': {0: None,
  1: None,
  2: None,
  3: None,
  4: None,
  5: None,
  6: None,
  7: None,
  8: None,
  9: None,
  10: None},
 'reset_password_sent_at': {0: None,
  1: None,
  2: None,
  3: None,
  4: None,
  5: None,
  6: None,
  7: None,
  8: None,
  9: None,
  10: None},
 'remember_created_at': {0: NaT,
  1: NaT,
  2: NaT,
  3: NaT,
  4: NaT,
  5: NaT,
  6: Timestamp('2022-06-04 15:51:57.870746'),
  7: NaT,
  8: NaT,
  9: NaT,
  10: Timestamp('2022-06-07 16:50:38.216583')},
 'created_at': {0: Timestamp('2022-05-28 12:26:39.191914'),
  1: Timestamp('2022-05-28 12:26:40.648549'),
  2: Timestamp('2022-05-28 12:26:41.476255'),
  3: Timestamp('2022-05-28 12:26:43.898237'),
  4: Timestamp('2022-05-28 12:26:44.867437'),
  5: Timestamp('2022-05-28 12:26:45.774583'),
  6: Timestamp('2022-05-28 12:26:43.051327'),
  7: Timestamp('2022-05-28 12:26:42.260631'),
  8: Timestamp('2022-05-28 12:26:38.267750'),
  9: Timestamp('2022-06-04 08:04:14.868248'),
  10: Timestamp('2022-05-28 13:37:08.002699')},
 'updated_at': {0: Timestamp('2022-05-28 12:26:39.203232'),
  1: Timestamp('2022-05-28 12:26:40.656142'),
  2: Timestamp('2022-05-28 12:26:41.484819'),
  3: Timestamp('2022-05-28 12:26:43.910509'),
  4: Timestamp('2022-05-28 12:26:44.878280'),
  5: Timestamp('2022-05-28 12:26:45.784615'),
  6: Timestamp('2022-06-04 15:51:57.871148'),
  7: Timestamp('2022-05-28 12:26:42.268129'),
  8: Timestamp('2022-06-07 15:24:41.908911'),
  9: Timestamp('2022-06-04 08:04:14.868248'),
  10: Timestamp('2022-06-07 16:50:38.216912')},
 'first_name': {0: 'Anjali',
  1: 'Alexandra',
  2: 'Ieva',
  3: 'Shreetama',
  4: 'Andrew',
  5: 'Killian',
  6: 'Julian',
  7: 'Daniel',
  8: 'Maria',
  9: 'Julian',
  10: 'Shreetama'},
 'last_name': {0: 'Kumar',
  1: 'Stroe',
  2: 'Jirgensone',
  3: 'Karmakar',
  4: 'Erlanger',
  5: 'Dectot',
  6: 'Muhlbauer',
  7: 'Angerer',
  8: 'Maier',
  9: 'Mühlbauer',
  10: 'Karmakar'},
 'description': {0: 'Hi, my name is Anjali! I want to go on my next sporting adventure.',
  1: 'Hi, my name is Alexandra! I want to go on my next sporting adventure.',
  2: 'Hi, my name is Ieva! I want to go on my next sporting adventure.',
  3: 'Hi, my name is Shreetama! I want to go on my next sporting adventure.',
  4: 'Hi, my name is Andrew! I want to go on my next sporting adventure.',
  5: 'Hi, my name is Killian! I want to go on my next sporting adventure.',
  6: 'Hi, my name is Julian! I want to go on my next sporting adventure.',
  7: 'Hi, my name is Daniel! I want to go on my next sporting adventure.',
  8: 'Hi, my name is Johanna! I want to go on my next sporting adventure.',
  9: None,
  10: None},
 'date_of_birth': {0: datetime.date(1993, 1, 25),
  1: datetime.date(1993, 1, 25),
  2: datetime.date(1993, 1, 25),
  3: datetime.date(1993, 1, 25),
  4: datetime.date(1993, 1, 25),
  5: datetime.date(1993, 1, 25),
  6: datetime.date(1993, 1, 25),
  7: datetime.date(1993, 1, 25),
  8: datetime.date(1993, 1, 25),
  9: None,
  10: None},
 'gender': {0: 'female',
  1: 'female',
  2: 'female',
  3: 'female',
  4: 'male',
  5: 'male',
  6: 'male',
  7: 'male',
  8: 'female',
  9: 'male',
  10: 'female'},
 'location': {0: 'Berlin',
  1: 'Berlin',
  2: 'Hamburg',
  3: 'Cologne',
  4: 'Cologne',
  5: 'Stuttgart',
  6: 'Hamburg',
  7: 'Berlin',
  8: 'Munich',
  9: 'Hamburg',
  10: 'Berlin'},
 'latitude': {0: 52.520008,
  1: 52.520008,
  2: 53.551086,
  3: 50.937531,
  4: 50.937531,
  5: 48.775845,
  6: 53.551086,
  7: 52.520008,
  8: 48.135124,
  9: 53.551086,
  10: 52.520008},
 'longitude': {0: 13.404954,
  1: 13.404954,
  2: 9.993682,
  3: 6.960279,
  4: 6.960279,
  5: 9.182932,
  6: 9.993682,
  7: 13.404954,
  8: 11.581981,
  9: 9.993682,
  10: 13.404954},
 'preferences': {0: [],
  1: [],
  2: [],
  3: [],
  4: [],
  5: [],
  6: [],
  7: [],
  8: [141, 143],
  9: [],
  10: []}}

In [11]:
user_loc_df = users_df[['location','latitude','longitude']]
user_loc_df.head(15)

     location   latitude  longitude
0      Berlin  52.520008  13.404954
1      Berlin  52.520008  13.404954
2     Hamburg  53.551086   9.993682
3     Cologne  50.937531   6.960279
4     Cologne  50.937531   6.960279
5   Stuttgart  48.775845   9.182932
6     Hamburg  53.551086   9.993682
7      Berlin  52.520008  13.404954
8      Munich  48.135124  11.581981
9     Hamburg  53.551086   9.993682
10     Berlin  52.520008  13.404954

In [12]:
users_df.at[8, 'location'] = 'Berlin'

In [13]:
users_df.at[8, 'latitude'] = 52.520008 
users_df.at[8, 'longitude'] = 13.404954
users_df.at[11, 'location'] = 'Berlin'
users_df.at[11, 'location'] = 'Berlin'
users_df.at[11, 'latitude'] = 52.520008 
users_df.at[11, 'longitude'] = 13.404954
users_df.at[10, 'location'] = 'Berlin'
users_df.at[10, 'latitude'] = 52.520008 
users_df.at[10, 'longitude'] = 13.404954

In [14]:
users_df.head(15)

,id,email,encrypted_password,reset_password_token,reset_password_sent_at,remember_created_at,created_at,updated_at,first_name,last_name,description,date_of_birth,gender,location,latitude,longitude,preferences
0,56.0,anjali@gmail.com,$2a$12$zoaJySL5quI21u316oCrzuwLap5n3iaoJoFEt8O...,None,None,NaT,2022-05-28 12:26:39.191914,2022-05-28 12:26:39.203232,Anjali,Kumar,"Hi, my name is Anjali! I want to go on my next...",1993-01-25,female,Berlin,52.520008,13.404954,[]
1,57.0,alexandra@gmail.com,$2a$12$EFJExS3e79KnS1Sj5SU7iuA0oE4Fe3cghnIcWCj...,None,None,NaT,2022-05-28 12:26:40.648549,2022-05-28 12:26:40.656142,Alexandra,Stroe,"Hi, my name is Alexandra! I want to go on my n...",1993-01-25,female,Berlin,52.520008,13.404954,[]
2,58.0,ieva@gmail.com,$2a$12$2KfdqVXZIU7RbiktQW1GAuaBnIcIfHBSc68kwWc...,None,None,NaT,2022-05-28 12:26:41.476255,2022-05-28 12:26:41.484819,Ieva,Jirgensone,"Hi, my name is Ieva! I want to go on my next s...",1993-01-25,female,Hamburg,53.551086,9.993682,[]
3,61.0,shreetama@gmail.com,$2a$12$Y3BZQdV7MhHLkHWNjXNI2.0/xszGFofvoLFtvwq...,None,None,NaT,2022-05-28 12:26:43.898237,2022-05-28 12:26:43.910509,Shreetama,Karmakar,"Hi, my name is Shreetama! I want to go on my n...",1993-01-25,female,Cologne,50.937531,6.960279,[]
4,62.0,andrew@gmail.com,$2a$12$WQNQrH8cu5Pmvk228dOzCONyjixPUEhV.snxt1j...,None,None,NaT,2022-05-28 12:26:44.867437,2022-05-28 12:26:44.878280,Andrew,Erlanger,"Hi, my name is Andrew! I want to go on my next...",1993-01-25,male,Cologne,50.937531,6.960279,[]
5,63.0,killian@gmail.com,$2a$12$EGWPW0BWsJk07er5uGiXjeNaLFqubjkIvSaq6VS...,None,None,NaT,2022-05-28 12:26:45.774583,2022-05-28 12:26:45.784615,Killian,Dectot,"Hi, my name is Killian! I want to go on my nex...",1993-01-25,male,Stuttgart,48.775845,9.182932,[]
6,60.0,julian@gmail.com,$2a$12$JaT8SCjL4GJ4gokRU/GO5.1YpDCt00/GwNj8ChD...,None,None,2022-06-04 15:51:57.870746,2022-05-28 12:26:43.051327,2022-06-04 15:51:57.871148,Julian,Muhlbauer,"Hi, my name is Julian! I want to go on my next...",1993-01-25,male,Hamburg,53.551086,9.993682,[]
7,59.0,daniel@gmail.com,$2a$12$/DCExarGzhiUF8AS44/Tt.5P4SLPySCFgkqStUW...,None,None,NaT,2022-05-28 12:26:42.260631,2022-05-28 12:26:42.268129,Daniel,Angerer,"Hi, my name is Daniel! I want to go on my next...",1993-01-25,male,Berlin,52.520008,13.404954,[]
8,55.0,johanna@gmail.com,$2a$12$CqtujmUxnctn4PYh/LQ7Yen4N9zGBa8mAkW5lJk...,None,None,NaT,2022-05-28 12:26:38.267750,2022-06-07 15:24:41.908911,Maria,Maier,"Hi, my name is Johanna! I want to go on my nex...",1993-01-25,female,Berlin,52.520008,13.404954,"[141, 143]"
9,65.0,rpadev7@yahoo.com,$2a$12$MdWAEIjH9EyMqA6dg5Xz8e5DuUlOkGN.nR2PH9d...,None,None,NaT,2022-06-04 08:04:14.868248,2022-06-04 08:04:14.868248,Julian,Mühlbauer,None,None,male,Hamburg,53.551086,9.993682,[]
10,64.0,shreetama1985@gmail.com,$2a$12$8O0AVmviqFX4G.eP/ual6uGUfv6wiq3C5Y.5VcS...,None,None,2022-06-07 16:50:38.216583,2022-05-28 13:37:08.002699,2022-06-07 16:50:38.216912,Shreetama,Karmakar,None,None,female,Berlin,52.520008,13.404954,[]
11,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,Berlin,52.520008,13.404954,NaN

In [15]:
ahoy_events_df.shape

(43, 6)

In [16]:
ahoy_events_df.user_id.unique()

array([64, 55, 65, 60, 56, 59])

In [17]:
ahoy_events_df.head()

,id,visit_id,user_id,name,properties,time
0,12,51,64,View Offer Page ID 1841,"{'user': 64, 'offer': 1841}",2022-05-28 13:38:01.802118
1,13,51,64,View Offer Page ID 1804,"{'user': 64, 'offer': 1804}",2022-05-28 13:38:18.486753
2,14,51,64,View Offer Page ID 1676,"{'user': 64, 'offer': 1676}",2022-05-28 13:38:44.105830
3,15,51,64,View Offer Page ID 1841,"{'user': 64, 'offer': 1841}",2022-05-28 13:38:54.335809
4,16,51,64,View Offer Page ID 1443,"{'user': 64, 'offer': 1443}",2022-05-28 13:39:00.433517

# advanced cleaning of data

In [18]:
import pandas as pd
import re
import string
from bs4 import BeautifulSoup
import nltk
from nltk.stem import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer
import spacy
from googletrans import Translator

In [19]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/shreetamakarmakar/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [20]:

# def to_english(string):
    

# # result.src
# if translator.detect(string).lang != 'en':
#     result = translator.translate(string)
#     result.text

In [21]:
language_translation('yo no sabe')

NameError: name 'language_translation' is not defined

In [ ]:
ahoy_events_df.head()

In [ ]:
users_df.head().T

In [ ]:
events_df.title

In [24]:
8# load spacy
nlp = spacy.load('en_core_web_sm')

def clean_string(text,stem="None"):

    final_string = ""

    # make lower
    text = text.lower()
    
    # remove http
    text = re.sub(r"http.*\.[a-z]{2,3}","",text)

    # remove www
    text = re.sub(r"www.*\.[a-z]{2,3}","",text)
    
    # remove line breaks
    text = re.sub(r'\n','',text)

    # remove puncuation
    translator = str.maketrans('','',string.punctuation)
    text = text.translate(translator)

    # remove stop words
    text = text.split()
    useless_words = nltk.corpus.stopwords.words("english")
    text_filtered = [word for word in text if not word in useless_words]

    # remove numbers
    text_filtered = [re.sub(r'\w*\d\w*','',w) for w in text_filtered]

    # stem or lemmatize
    if stem == 'Stem':
        stemmer = PorterStemmer() 
        text_stemmed = [stemmer.stem(y) for y in text_filtered]
    elif stem == 'Lem':
        lem = WordNetLemmatizer()
        text_stemmed = [lem.lemmatize(y) for y in text_filtered]
    elif stem == 'Spacy':
        text_filtered = nlp(' '.join(text_filtered))
        text_stemmed = [y.lemma_ for y in text_filtered]
    else:
        text_stemmed = text_filtered

    final_string = ' '.join(text_stemmed)

    return final_string

In [25]:
# events_df['clean_description'] = events_df['translated_description'].apply(lambda x: clean_string(x))
# events_df['clean_title'] = events_df['translated_title'].apply(lambda x: clean_string(x))

In [51]:
events_df['clean_description'] = events_df['description'].apply(lambda x: clean_string(x))
events_df['clean_title'] = events_df['title'].apply(lambda x: clean_string(x))

In [52]:
events_df['combined'] = events_df['clean_title'] + events_df['clean_description']

In [53]:
def generate_list(x):
    val = list(x.split())
    val = " ".join(val[:300])
    return val

In [54]:
events_df['combined_pruned'] = events_df['combined'].apply(lambda x: generate_list(x))

In [55]:
from googletrans import Translator
def language_translation(string):
    
    translator = Translator()
    if translator.detect(string).lang != 'en':
        result = translator.translate(string)
        return result.text
    else:
        return string

In [56]:
events_df['translated'] = events_df['combined_pruned'].apply(lambda x: language_translation(x))

In [57]:
events_df['translated'][700]

'tennis class experienced beginners stage note clay tennis shoes sandschuhe mandatory contact questionshello tennis loversthis class experienced stage beginners ie players already know basics tennis forehand backhand etc play basic level usually players least hours previous tennis experience usually want improve technique overall playing level players played many years ago want get back tennisdetails players court guided licensed tennis coachfee per person € lesson fee € court fee €court type clay outdoorshoes clay shoes mandatory sandschuhe alternatively carpet shoes teppichshuhe outdoor shoes allowedrules play clay course court maintenancerackets bring rackets please rent rackets free charge need notification advance per whatsappsmscancelation policy cancellations made advance event refundable cancellations within event refundablenote please least mins event warm properly able start time also since members slight problems finding club start bit earlier coming first timemy contact phone number court cheers bratislavexplanation tennis levelsstagesabsolute beginners – stage players less hours tennis experience normally players never played life tried times gave upexperienced beginners – stage players least hours previous tennis experience players already know basics tennis hit forehands backhands serve volleys basic level need guidance improve technique consistency order able sustain longer rallies slow pacelow intermediate stage players usually months tennis experience players played many years ago trying get back tennis players independently play tennis partners basic moderate level need consistency hitting mediumpaced shots work depth varietyintermediate level players fairly consistent hitting mediumpaced shots still comfortable strokes lack execution trying directional control depth power need work depth variety court coverageadvanced level players good technique fairly confident strokes including directional control depth forehand backhand sides plus ability use lobs overheads approach shots volleys success may starting master use power spinstenniskurs für fortgeschrittene anfängerdieser kurs ist für fortgeschrittene anfänger stufe dh für spieler die bereits die grundlagen des tennisspiels kennen vorhand rückhand etc und auf einem einfachen'

In [58]:
ahoy_events_df.user_id.unique()

array([55, 60, 56, 59])

## tfidf on clean data

In [59]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

tfidf = TfidfVectorizer(stop_words="english")

In [60]:
tfidf_matrix = tfidf.fit_transform(events_df["translated"])
tfidf_matrix.shape

(868, 7657)

In [61]:
cosine_sim = tfidf_matrix.dot(tfidf_matrix.T)

In [77]:
cosine_sim.shape

(868, 868)

In [62]:
ahoy_events_df.head()

,id,visit_id,user_id,name,properties,time
0,18,50,55,View Offer Page ID 1372,"{'user': 55, 'offer': 1372}",2022-05-28 13:54:31.020758
1,19,50,55,View Offer Page ID 1371,"{'user': 55, 'offer': 1371}",2022-05-28 13:54:41.405336
2,22,63,55,View Offer Page ID 2355,"{'user': 55, 'offer': 2355}",2022-06-03 14:20:42.085845
3,23,63,55,View Offer Page ID 2371,"{'user': 55, 'offer': 2371}",2022-06-03 14:21:18.924495
4,24,63,55,View Offer Page ID 2339,"{'user': 55, 'offer': 2339}",2022-06-03 14:30:00.038228

In [63]:
haversine_vectorized(48.135124, 11.581981, 47.135124, 12.581981)

134.0816183723369

# updating event prediction: finalizing stuff

In [64]:
def haversine_vectorized(user_lat,
                         user_lon,
                         event_lat,
                         event_lon):
    """
        Calculate the great circle distance between two points
        on the earth (specified in decimal degrees).
        Vectorized version of the haversine distance for pandas df
        Computes distance in kms
    """

    lat_1_rad, lon_1_rad = np.radians(user_lat), np.radians(user_lon)
    lat_2_rad, lon_2_rad = np.radians(event_lat), np.radians(event_lon)
    dlon = lon_2_rad - lon_1_rad
    dlat = lat_2_rad - lat_1_rad

    a = np.sin(dlat / 2.0) ** 2 + np.cos(lat_1_rad) * np.cos(lat_2_rad) * np.sin(dlon / 2.0) ** 2
    c = 2 * np.arcsin(np.sqrt(a))
    return 6371 * c

In [65]:
def get_event_id(user_id):
    ''' this finction grabs the title of an event used by an user from ahoy_events dataset'''
    
    event_id = ahoy_events_df[ahoy_events_df['user_id']== user_id].iloc[-1].properties['offer']
    # now we get the title of the event
    #event_id = events_df[events_df['id']==event_idx].title
    
    return event_id

In [78]:
events_df.shape

(868, 22)

In [79]:
get_event_id(59)

2465

In [81]:
events_df[events_df['id']==3257].index

Int64Index([39], dtype='int64')

In [82]:
import datetime
from datetime import date

def get_event_id(user_id, df = ahoy_events_df):
    ''' this finction grabs the title of an event used by an user from ahoy_events dataset'''
    
    event_id = ahoy_events_df[ahoy_events_df['user_id']== user_id].iloc[-1].properties['offer']
    # now we get the title of the event
    #event_id = events_df[events_df['id']==event_idx].title
    
    return event_id 

def get_user_loc(user_id, df = users_df):   
    ''' this finction grabs the location of an user from ahoy_events dataset'''
    
    users_idx = users_df[users_df['id']== user_id]
    # now we get the user's latitude and longitude
    
    location_dict = {'user_latitude' : float(users_idx.latitude.values), 
                     
                     'user_longitude' : float(users_idx.longitude.values)
                        }
     
    return location_dict


def content_recommender(user_id, cosine_sim = cosine_sim, df = events_df):
    '''This recommender finds out 100 closest matches with a given event'''
    
    #calling user id from ahoy_events
    
    event_id = get_event_id(user_id, df = ahoy_events_df)
    
    event_idx = events_df[events_df['id']== get_event_id(user_id)].index

    
    sim_scores = list(enumerate(cosine_sim[event_idx].todense().tolist()[0]))
    # list of set [(index, sim score), (index, sim score), ...]
    
    sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse = True)
    # Sort the list of set by sim score, index with highest simlirarity
    # Will be at the beginning of the list
    
    sim_scores = sim_scores[1:101] # top 100 events (first one is our input events so we ignore it)
    
    sport_indices = [i[0] for i in sim_scores] # we grab the indices of those 10 events
    
    df_all_recommendations = df.iloc[sport_indices][[ 'id','title', 'latitude', 'longitude', 'offer_date']]
    
    df_date_filter = df_all_recommendations[df_all_recommendations['offer_date'] >= datetime.date.today()]
    
    #calcullation of haversine distance for users:
    user_latitude = get_user_loc(user_id, df = users_df)['user_latitude']
    user_longitude = get_user_loc(user_id, df = users_df)['user_longitude']
    
    df_date_filter['user_latitude'] = user_latitude
    df_date_filter['user_longitude'] = user_longitude
    
    df_date_filter["distance"] = haversine_vectorized(df_date_filter.latitude, df_date_filter.longitude,
                                                      df_date_filter.user_latitude, df_date_filter.user_longitude)
            
    df_location_filter = df_date_filter[df_date_filter['distance'] <= 200.0]
    
    
                                                
    return df_location_filter
#     return user_latitude

In [85]:
content_recommender(59)

,id,title,latitude,longitude,offer_date,user_latitude,user_longitude,distance
40,3258,Nature Day,52.760796,13.563776,2022-06-26,52.520008,13.404954,28.839394
96,3310,Fairytale Forest: Hike through the mystical la...,52.712540,13.335370,2022-06-18,52.520008,13.404954,21.917941
97,3311,Fairytale Forest: Hike through the mystical la...,52.712540,13.335370,2022-06-25,52.520008,13.404954,21.917941
176,3390,Spreewald Canoe Tour: Discover the UNESCO bios...,51.863297,13.954547,2022-06-12,52.520008,13.404954,82.071462
179,3393,Spreewald Canoe Tour: Discover the UNESCO bios...,51.863297,13.954547,2022-07-10,52.520008,13.404954,82.071462
177,3391,Spreewald Canoe Tour: Discover the UNESCO bios...,51.863297,13.954547,2022-06-25,52.520008,13.404954,82.071462
178,3392,Spreewald Canoe Tour: Discover the UNESCO bios...,51.863297,13.954547,2022-06-18,52.520008,13.404954,82.071462
34,3252,Nature Cycling: Explore one of the most famous...,52.687485,13.567277,2022-06-11,52.520008,13.404954,21.609336
104,3321,Mystic River: Venture into haunted forests and...,52.789570,13.778347,2022-06-12,52.520008,13.404954,39.150722
105,3322,Mystic River: Venture into haunted forests and...,52.789570,13.778347,2022-06-26,52.520008,13.404954,39.150722
94,3308,Hiking in High Tatras and Slovak Paradise Nati...,52.520008,13.404954,2022-06-24,52.520008,13.404954,0.000000
95,3309,Hiking in High Tatras and Slovak Paradise Nati...,52.520008,13.404954,2022-06-10,52.520008,13.404954,0.000000
100,3314,Swedish Lake: Join us on an idyllic hike aroun...,52.748295,13.506931,2022-06-19,52.520008,13.404954,26.300669
81,3318,Ice Age Reloaded: Discover the glacial lands &...,52.765244,13.644959,2022-06-11,52.520008,13.404954,31.714728
102,3319,Ice Age Reloaded: Discover the glacial lands &...,52.765244,13.644959,2022-06-19,52.520008,13.404954,31.714728
128,3343,Tennis Training : Intermediate Level : Wednesd...,52.482675,13.407911,2022-06-08,52.520008,13.404954,4.156084
131,3346,Tennis Training : Intermediate Level : Wednesd...,52.482675,13.407911,2022-06-15,52.520008,13.404954,4.156084
93,3307,Bulgaria 🇧🇬 - Seven Rila lakes hike,52.520008,13.404954,2022-06-16,52.520008,13.404954,0.000000
190,3404,Flow Yoga,52.537913,13.421338,2022-06-12,52.520008,13.404954,2.278629
193,3407,Flow Yoga,52.537913,13.421338,2022-06-10,52.520008,13.404954,2.278629
198,3413,Flow Yoga,52.537913,13.421338,2022-06-21,52.520008,13.404954,2.278629
52,3269,Four Towers: Top-voted hike along rolling hill...,52.805305,13.958406,2022-06-26,52.520008,13.404954,48.984909
180,3394,Kayaking on Rhin River,53.098370,12.897488,2022-06-19,52.520008,13.404954,72.795913
181,3395,Let's Kayak in SpreeWald,52.525743,13.368576,2022-07-17,52.520008,13.404954,2.542496
45,3263,Weekly climbing meetup @ Bouldergarten,52.479050,13.452330,2022-06-13,52.520008,13.404954,5.570178
92,3317,Peacock’s Paradise: Discover an island full of...,52.434505,13.131111,2022-06-11,52.520008,13.404954,20.841273
467,3684,Weekly Tuesday Night 5k Run +Dinner/Drinks,52.514831,13.490778,2022-06-07,52.520008,13.404954,5.835720
468,3685,Weekly Tuesday Night 5k Run +Dinner/Drinks,52.514831,13.490778,2022-06-14,52.520008,13.404954,5.835720
469,3686,Weekly Tuesday Night 5k Run +Dinner/Drinks,52.514831,13.490778,2022-06-21,52.520008,13.404954,5.835720